{% extends 'base.html' %}

{% block main %}
<div class="row">

    <h1> Cadastro de funcionarios - {{ object }} </h1>

    <form action="" method="post">
        {% csrf_token %}

        {{ form.as_div }}

        <button class="btn btn-success" type="submit">Salvar</button>
    </form>

    <hr/>

    <h2>Documentos</h2>
    <a href="{% url 'create_documento' object.id %}" class="btn btn-warning">Adicionar documento</a>

    <hr/>
    <ul>
        {% for documento in object.documento_set.all %}
        <li>
            <a href="{{ documento.arquivo.url }}" target="_blank">{{ documento }}</a>
        </li>
        {% endfor %}
    </ul>

    <hr/>

    <h2>Banco de Horas</h2>
    <a href="{% url 'create_documento' object.id %}" class="btn btn-info">Cadastrar Hora Extra</a>

    <hr/>
    <ul>
        {% for horaextra in object.registrohoraextra_set.all %}
        <li>
            <a href="{% url 'update_registro_hora_extra' horaextra.id %}">
                {{ horaextra }} ({{ horaextra.horas }} horas)
            </a>
        </li>
        {% endfor %}
    </ul>

    <h3>Total de horas extras: {{ object.total_horas_extras }}</h3>

</div>
{% endblock main %}